body {
    background-color: Black;
    
}

.selection_panel {
       border: 1px solid grey;
      position: fixed;
      transform: translate(-50%, -50%);
      height: 450px ;
      width: 400px ;
      top: 50%;
      left: 50%;
      align-items: center;
      font-family: impact;
      font-weight: bold;
}

.container {
    position: fixed;
    transform: translate(-50%, -50%);
    align-items: center;
    top: 50%;
    left: 40%;
    

}






.PCSYSTEM {
    border: 2px solid red;
    font-weight: bold;
    color: Red;
    position: fixed;
    width: 80px;
    height: 20px;
    text-align: center; 
    align-items: center;


}

.MobileSYSTEM {
    border: 2px solid blue;
    font-weight: bold;
    color: blue;
    
    width: 100px;
    height: 20px;
    text-align: center;
    
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    align-items: center;
    position: fixed;

}